<template>
  <q-page class="flex flex-center">
    <div style="max-width: 400px">
      <h4 class="text-center">Welcome back!</h4>
      <h5 class="text-center">{{ userdata.user_name }}</h5>
      <q-btn
        type="button"
        @click="logout"
        label="Logout"
        class="full-width bg-cyan-9 text-white"
      />
      <q-btn
        type="button"
        @click="refresh"
        label="Refresh Token"
        class="full-width bg-cyan-9 text-white q-mt-md"
      />
    </div>
  </q-page>
</template>

<script setup>
import { removeAccessToken, setAccessToken } from "src/services";
import { useRouter } from "vue-router";
import { api } from "src/boot/axios";
import { ref } from "vue";
import Cookies from "js-cookie";

const router = useRouter();
const token = ref(localStorage.getItem("token") || "");
const userdata = ref({});

const fetchData = async () => {
  try {
    const ddd = Cookies.get("refreshToken");

    console.log("Token from cookie:", ddd);

    const response = await api.get("/api/users", {
      headers: {
        Authorization: `Bearer ${token.value}`,
      },
    });

    userdata.value = response.data.data;
    console.log(userdata.value);
  } catch (error) {
    console.error(error);
  }
};

const logout = () => {
  removeAccessToken();
  router.push("/auth/sign-in");
};

const refresh = async () => {
  try {
    const response = await api.post("http://127.0.0.1:8080/api/auth/renew");

    setAccessToken(response.data.new_token);

    fetchData();
  } catch (error) {
    console.error(error.response.data.message);
  }
};

fetchData();
</script>
