<template>
  <q-page class="flex flex-center" padding>
    <q-form @submit="handleSubmit" class="full-width" style="max-width: 400px">
      <q-card>
        <q-card-section class="bg-cyan-8 text-white">
          <div class="text-h5 text-center text-uppercase">Sign In Here</div>
        </q-card-section>
        <q-card-section v-if="isShow" class="text-red-7 text-center">
          {{ responseMessage }}
        </q-card-section>
        <q-card-section>
          <q-input
            outlined
            type="email"
            v-model="formData.email"
            label="Email"
            lazy-rules
            dense
            class="q-mb-md q-mt-lg"
            :rules="[(val) => !!val || 'Email is required']"
          />
          <q-input
            outlined
            v-model="formData.password"
            type="password"
            class="q-mb-md"
            label="Password"
            dense
            lazy-rules
            :rules="[(val) => !!val || 'Password is required']"
          />
          <q-btn
            type="submit"
            label="Submit"
            class="full-width bg-cyan-9 text-white"
          />
        </q-card-section>
      </q-card>
    </q-form>
  </q-page>
</template>

<script setup>
import { api } from "src/boot/axios";
import { setAccessToken } from "src/services";
import { ref } from "vue";
import Cookies from "js-cookie";

import { useRouter } from "vue-router";

const router = useRouter();

const isShow = ref(false);
const responseMessage = ref("");

const initialValue = {
  email: "",
  password: "",
};
const formData = ref({ ...initialValue });

const handleSubmit = async () => {
  try {
    const response = await api.post("/api/auth/sign-in", formData.value);
    console.log(response.data.message);

    const token = Cookies.get("refreshToken");

    console.log("Token from cookie:", token);

    setAccessToken(response.data.token);
    // Redirect to dashboard or home page
    router.push("/dashboard");
  } catch (error) {
    console.error(error.response.data.message);
    responseMessage.value = error.response.data.message;
  } finally {
    isShow.value = true;
    setTimeout(() => {
      isShow.value = false;
      responseMessage.value = "";
    }, 4000);
  }
};
</script>
