<template>
  <q-page class="flex flex-center" padding>
    <q-form @submit="handleSubmit" class="full-width" style="max-width: 400px">
      <q-card>
        <q-card-section class="bg-cyan-8 text-white">
          <div class="text-h5 text-center text-uppercase">Sign Up Here</div>
        </q-card-section>
        <q-card-section>
          <q-card-section v-if="isShow" :class="textColorResponse">
            {{ responseMessage }}
          </q-card-section>
          <q-input
            outlined
            v-model="formData.name"
            label="Name"
            lazy-rules
            dense
            class="q-mb-md q-mt-lg"
            :rules="[(val) => !!val || 'Name is required']"
          />
          <q-input
            outlined
            type="email"
            v-model="formData.email"
            label="Email"
            lazy-rules
            dense
            class="q-mb-md"
            :rules="[(val) => !!val || 'Email is required']"
          />
          <q-input
            outlined
            v-model="formData.password"
            type="password"
            class="q-mb-md"
            label="Password"
            dense
            lazy-rules
            :rules="[(val) => !!val || 'Password is required']"
          />
          <q-btn
            type="submit"
            label="Submit"
            class="full-width bg-cyan-9 text-white"
          />
        </q-card-section>
      </q-card>
    </q-form>
  </q-page>
</template>

<script setup>
import { computed, ref } from "vue";
import { api } from "src/boot/axios";

const isShow = ref(false);
const isSuccess = ref(false);
const responseMessage = ref("");

const textColorResponse = computed(() => ({
  "text-green-7 text-center": isSuccess.value,
  "text-red-7 text-center": !isSuccess.value,
}));

const initialValue = {
  name: "",
  email: "",
  password: "",
};
const formData = ref({ ...initialValue });

const handleSubmit = async () => {
  try {
    const response = await api.post("/api/users", formData.value);

    console.log(response.data.message);
    responseMessage.value = response.data.message;
    isSuccess.value = true;
    formData.value = { ...initialValue };
  } catch (error) {
    console.error(error.response.data.message);
    responseMessage.value = error.response.data.message;
  } finally {
    isShow.value = true;
    setTimeout(() => {
      isShow.value = false;
      responseMessage.value = "";
      isSuccess.value = false;
    }, 4000);
  }
};
</script>
