<template>
  <q-layout view="lHh Lpr lFf">
    <q-header class="bg-cyan-8" elevated>
      <q-toolbar>
        <q-toolbar-title> Todo Application </q-toolbar-title>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      side="right"
      :width="200"
      class="bg-cyan-2"
    >
      <q-list>
        <q-item-label header> Dashboard </q-item-label>
        <q-item clickable v-ripple to="/welcome">
          <q-item-section avatar>
            <q-icon color="secondary" name="home" />
          </q-item-section>
          <q-item-section>Home</q-item-section>
        </q-item>
        <q-item clickable v-ripple to="/auth/sign-in">
          <q-item-section avatar>
            <q-icon color="secondary" name="login" />
          </q-item-section>
          <q-item-section>Sign In</q-item-section>
        </q-item>
        <q-item clickable v-ripple to="/auth/sign-up">
          <q-item-section avatar>
            <q-icon color="secondary" name="app_registration" />
          </q-item-section>
          <q-item-section>Sign Up</q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container class="bg-cyan-1">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup>
import { ref } from "vue";

const leftDrawerOpen = ref(false);

function toggleLeftDrawer() {
  leftDrawerOpen.value = !leftDrawerOpen.value;
}
</script>
